datasets==2.18.0
evaluate==0.4.1
numpy==1.26.4
peft==0.10.0
torch==2.2.1
tqdm==4.66.2
transformers==4.39.3
scikit-learn
scipy
bitsandbytes
accelerate
pip
wheel
setuptools
notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
flash-attn